
:root{
	--fonte-principal: 'Oswald', sans-serif;
	--fonte-sub: 'Lato', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

ul, figure, h2, h1, p {
	margin: 0px;
	padding: 0px;
}


#Topo {
	grid-column:1/2;
	grid-row:1/2;

	-ms-grid-column:1/2;
	-ms-grid-row:1/2;

	grid-template-columns: 1fr;
	grid-template-rows:100vh auto;

	width: 100%;

	display: grid;

	-ms-display: grid;

	background-image: url(../img/fundo-topo.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 5;
	    justify-items: center;

}

#Topo:after {
	grid-column:1/5;
	grid-row:1/3;

	-ms-grid-column:1/2;
	-ms-grid-row:1/2;

	content:'';
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #30bced;
	opacity: 0.5;
}

.topo-seta{
	    height: 15px;
	        position: relative;
	        animation: seta 1.5s infinite;
	        -webkit-animation: seta 1s infinite;
}

@-webkit-keyframes seta{
	from {
		top: -25px;
	}

	to {
		top: 25px;
	}
}

@-webkit-keyframes seta{
	from {
		top: -30px;
	}

	to {
		top: 35px;
	}
}

.topo-cont {
	display: inline-grid;
	grid-template-rows: auto;
	grid-template-columns: auto;
	grid-column-gap: 30px;

	grid-column: 1/2;
	grid-row: 2/3;

	z-index: 10;

	width: 100%;

	background-color: #19323c;
}




.menu-pintura {
	list-style: none;

	display: inline-grid;
	grid-template-rows: 1fr;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	justify-self: center;

	width: auto;

	/*padding-right: 5%;*/
}

.menu-pintura a {
	color: rgb(252, 252, 248, 0.5);
	font-family: var(--fonte-sub);
	font-size: 1em;
	text-decoration: none;
	padding: 0px 1em;
}

.menu-pintura li {
	padding: 15px 0px 15px 0px;
}

.menu-pintura a:hover {
	color: #fcfcf8;
}

.menu-fixo {
	position: fixed;
}

.menu-ativo {
	border-bottom: 3px solid #30bced;
}

.titulo-topo p {
	font-size: 1.3em;
	font-family: var(--fonte-sub);
	color: rgba(25, 50, 60, 0.8);

}

.titulo-topo h1{
	font-size: 2.5em;
	font-family: var(--fonte-sub);
	color: #19323c;
}


#Conteudo {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	/*grid-template-rows: var(--conteiners, 700px 700px 700px 700px 70px);*/
	grid-auto-rows: auto;

	-ms-display: grid;
	-ms-grid-template-columns: 1fr;
	-ms-grid-template-rows: repeat(4, 100vh) 70px;

	background-color: #fcfcf8;
}

.titulo-topo {
	    grid-row: 1/2;
    grid-column: 1/2;

    display: grid;
    grid-template-columns: 1fr;

    z-index: 1;
    width: 70vw;
}

.grid1 {
	    grid-column: 1 / 2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: auto auto; */
    /* align-self: center; */
    justify-self: center;
    align-items: center;
    justify-items: center;
    /* height: auto; */
    align-self: center;
    grid-gap: 30px;
}

.grid2{
	grid-column: 1 / 2;
    grid-row: 1/2;
    display: grid;
    align-self: flex-end;
    overflow: hidden;
    margin-bottom: 30px;
    align-items: center;
    justify-items: center;
    /* padding: 20px; */
    height: 30px;
}


.titulo-cont {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	grid-gap: 10px;

	-ms-display: grid;
	-ms-grid-template-columns: 1fr;
	-ms-grid-auto-rows: auto;
	-ms-grid-auto-flow: row;
	-ms-grid-gap: 2px;

	justify-items: center;
	align-items: center; 
	text-align: center;
}

.titulo-topo a {
	text-decoration: none;
	font-size: 1.2em;
	border: 2px solid #19323c;

	font-family: var(--fonte-sub);
	padding: 10px 20px 10px 20px;
	color: rgb(25, 50, 60, 0.8);
	border-radius: 5px;
	text-align: center;
	box-sizing: content-box;
}

.titulo-topo a:hover {
	color: #fcfcf8;
	background-color: #19323c;
}



.box-cont {
	display: grid;
	-ms-display: grid;

	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;

	align-items: center;
	justify-items: center;

	
	justify-self: center;

}

.box-galeria{
	width: 70vw;
}

.box-tamanho {
width: 70vw;
	padding-top: 100px;
}

.box-interno {
	display: grid;
	grid-gap: 50px;
	width: auto;
    height: auto;

}


.box-serv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	grid-auto-flow: row;
	grid-gap: 50px;
	align-self: baseline;
}

.box-serv figure{
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	justify-items: center; 
	grid-gap: 15px;
}

.box-serv figure img {
	width: auto;
	height: 60px;
}

.box-serv figure figcaption {
	color: #19323c;
	font-family: var(--fonte-sub);
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

.sub-titulo {
	align-self: end;
	grid-gap: 10px;
	justify-items: center;
	text-align: center;

}
.sub-titulo h2{
	font-family: var(--fonte-sub);
	font-weight: bold;
	font-size: 2em;
	color: #19323c;
}

.sub-titulo p{
	font-family: var(--fonte-sub);
	font-size: 1em;
	color: rgb(25, 50, 60, 0.8);
}


.box-total {
	width: 100vw!important;

}

.cont-galeria {
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	grid-auto-flow: row;

	-ms-display: inline-grid;
	-ms-grid-template-columns: repeat(2, 1fr);
	-ms-grid-auto-rows: auto;
	-ms-grid-auto-flow: row;

	height: 60vh;
	background-color: #fcfcf8;

	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);

}

.cont-galeria figure {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	-ms-display: grid;
	-ms-grid-template-columns: 1fr;
	-ms-grid-template-rows: 1fr;

	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cont-galeria figure img{
	grid-column: 1/2;
	grid-row: 1/2;

	-ms-grid-column: 1/2;
	-ms-grid-row: 1/2;


	width: 100%;
	height: 100%;
	z-index: -2;
}

.cont-galeria figure:after {
	grid-column: 1/2;
	grid-row: 1/2;

	-ms-grid-column: 1/2;
	-ms-grid-row: 1/2;

	content:'';
	position:relative;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #30bced;
	opacity: 0.3;
}

/*Efeito de fadeIn das imagens da galeria*/
.ocultar {
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: backwards;

	-webkit-animation-name:fadein;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: backwards;
}

@keyframes fadein{
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadein{
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
/*Fim Efeito de fadeIn das imagens da galeria*/





/*Formulario*/

.form-fala {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 50px;

	-ms-display: grid;
	-ms-grid-template-columns: repeat(4, 1fr);
	-ms-grid-auto-rows: 1fr;
	-ms-grid-column-gap: 20px;
	-ms-grid-row-gap: 50px;

	height: auto;
	box-sizing: border-box;

	font-family: var(--fonte-sub);

	width: 100%;
}

.nome {
	grid-column: auto/ span 4;

	-ms-grid-column: auto/ span 4;
}

.email {
	grid-column: auto/ span 4;

	-ms-grid-column: auto/ span 4;
}

.tel {
	grid-column: auto/ span 4;

	-ms-grid-column: auto/ span 4;
}

.cel {
	grid-column: auto/ span 4;

	-ms-grid-column: auto/ span 4;
}

.cidade {
	grid-column: auto/ span 4;

	-ms-grid-column: auto/ span 4;
}

.uf {
	grid-column: auto/ span 1;

	-ms-grid-column: auto/ span 1;
}

.descricao {
	grid-column: auto/ span 4;
	grid-row: auto/ span 2;

	-ms-grid-column: auto/ span 4;
	-ms-grid-row: auto/ span 2;

	border: 1px solid #19323c;
	border-radius: 5px;
}

.servico {
grid-column: auto/ span 3;
}



.formselect {
	background-color: #fcfcf8;
	font-size: 1em;
	border:none;
	color: #19323c;
	font-family: var(--fonte-sub);
	border-bottom: 1px solid #19323c;
	align-items: flex-end;
	padding-bottom: 1px;

}

.btn-fala {
	grid-column: auto/ span 4;

	display: inline-grid;
	grid-template-columns: repeat(3, auto);
	grid-column-gap: 1em;
	grid-template-rows: 1fr;
	align-items: center; 

	-ms-grid-column: 1/5;

	-ms-display: inline-grid;
	-ms-grid-template-columns: repeat(3, auto);
	-ms-grid-column-gap: 1em;
	-ms-grid-template-rows: 1fr;
}

.fale-atendimento {
	align-self: start;
}

.fale-atendimento {
	margin-top: 20px;
}

.descricao textarea {
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 5px;
	font-size:1em;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	resize: none;
	background-color: #fcfcf8;
	color: #19323c;
}

.btn-fala {
	background-color: transparent!important;
}

.btn-fala button {
	background-color: #fcfcf8;
	border: 2px solid #19323c;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	color: rgb(25, 50, 60, 0.8);
}

.btn-fala button:hover {
	background-color: #19323c;
	color: #fcfcf8;
}

.btn-fala p {
	font-size: 1em;
	color: #19323c;
}

/* form starting stylings ------------------------------- */
.group        { 
	position:relative; 
}

.group input {
	border: none;
	height: auto;
	font-size:1em;
	padding: 5px 0px 5px 10px;
	display:block;
	width:100%;
	height: 100%;
	border:none;
	border-bottom:1px solid #19323c;
	box-sizing: border-box;
	background-color: #fcfcf8;
}
.group input:focus     { outline:none; }

/* LABEL ======================================= */
.group label          {
	color:#19323c; 
	font-size:1em;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	padding: 0px 0px 0px 10px;
	bottom:5px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~  label, .group input:valid ~  label    {
	top:-20px;
	font-size:0.8em;
	color:#30bced;
	padding: 0px 0px 0px 0px;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#30bced; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
	width:50%;
}

.group input:focus {
	border-bottom:1px solid #30bced;

}

/* HIGHLIGHTER ================================== */
.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#30bced; }
	to  { width:100%; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#30bced; }
	to  { width:100%; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#30bced; }
	to  { width:100%; background:transparent; }
}

/*Fim Formulario*/

#Rodape{
background-color: #19323c;
height: 50px;
	margin-top: 50px;
	display: grid;
}

.base-rodape {
display: grid;
grid-template-rows: 1fr;
width: 90vw; 
justify-self: center;
grid-template-columns: auto;
grid-auto-flow: column;
align-items: center;
}

.base-rodape p{
	color: rgb(252, 252, 248, 0.5);
	font-size: 1em;
}

.social figure img{
height: 20px;
width: auto;
}

.social figure {
display: grid;
align-items: center;
justify-items: center;	
width: 30px;
}

.social{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto;
	grid-auto-flow: column;
	justify-self: right;
	grid-column-gap: 20px;
	
	height: 100%;
}












