
:root{
	--fonte-sub: 'Lato', sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

ul, figure, h2, h1, p {
	margin: 0px;
	padding: 0px;
}


#Topo {
	grid-column:1/2;
	grid-row:1/2;

	-ms-grid-column:1/2;
	-ms-grid-row:1/2;

	grid-template-columns: 1fr;
	grid-template-rows: 100vh;

	width: 100%;

	display: grid;

	-ms-display: grid;

	background-image: url(../img/fundo-topo.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 10;
	justify-items: center;

}

#Topo:after {
	grid-column:1/5;
	grid-row:1/2;
	z-index: 1;

	-ms-grid-column:1/2;
	-ms-grid-row:1/2;

	content:'';
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #30bced;
	opacity: 0.5;
}

.topo-seta{
	height: 15px;
	position: relative;
	animation: seta 1.5s infinite;
	-webkit-animation: seta 1s infinite;
	padding-bottom: 8px;
}

@-webkit-keyframes seta{
	from {
		top: 0px;
	}

	to {
		top: 8px;
	}
}

@-webkit-keyframes seta{
	from {
		top: 0px;
	}

	to {
		top: 8px;
	}
}

.topo-cont {
	grid-column: 1/2;
	grid-row: 2/3;
	z-index: 3;
	width: 100%;
	display: grid;
	height: 50px;
	background-color: #19323c;
}

.box-menu {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	
    width: 85vw;
    justify-self: center;
	align-items: center;
	
	overflow: hidden;
}

#Botao-Menu{
	width: 100%;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	height: 50px;
	z-index: 1;
	justify-self: right;
	align-self: baseline;
	background-color: #19323c;
	visibility: visible;
}

.boton-menu {
	width: 25px;
	margin: 10px;
	display: grid;
	align-items: center;
	justify-items: center;
	justify-self: right;
}

.boton-menu span{
	width: 25px;
	height: 3px;
	background-color: #fcfcf8;

	-webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}

.boton-menu-ativo {
	overflow: visible;
}

.boton-menu-ativo .menu-pintura{
	top: 50px;
}

.boton-menu-ativo .boton-menu span:nth-child(2) {
	visibility: hidden;
}

.boton-menu-ativo .boton-menu span:nth-child(1) {
	-webkit-transform:rotate(140deg);
    -moz-transform:rotate(140deg);
    -o-transform: rotate(140deg);
	transform:rotate(140deg);
	position: relative;
	top: 10px;
}

.boton-menu-ativo .boton-menu span:nth-child(3) {
	-webkit-transform:rotate(40deg);
    -moz-transform:rotate(40deg);
    -o-transform: rotate(40deg);
	transform:rotate(40deg);
	
	position: relative;
	top: -10px;
}


.menu-pintura {
grid-column: 1/2;
grid-row: 1/2;

	list-style: none;
	display: grid;
	justify-self: right;
	width: auto;

	background-color: #30bced;
	position: relative;
	top: -200px;

    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
	grid-auto-flow: row;
	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.menu-pintura a {
	color: rgb(252, 252, 248, 0.6);
	font-family: var(--fonte-sub);
	font-size: 1em;
	text-decoration: none;
	padding: 0px 1em;
}

.menu-pintura li {
	padding: 14px 0px 14px 0px;
	display: grid;
	justify-items: center;
	align-items: center;
}

.menu-pintura a:hover {
	color: #fcfcf8;
}

.menu-fixo {
	position: fixed;
	width: 100vw;
}


.titulo-topo p {
	font-size: 1.3em;
	font-family: var(--fonte-sub);
	color: rgba(25, 50, 60, 0.8);

}

.titulo-topo h1{
	font-size: 2.5em;
	font-family: var(--fonte-sub);
	color: #19323c;
}


#Conteudo {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr;
	/*grid-template-rows: var(--conteiners, 700px 700px 700px 700px 70px);*/
	grid-auto-rows: auto;
	background-color: #fcfcf8;
}

.titulo-topo {
	grid-row: 1/2;
	grid-column: 1/2;

	display: grid;
	grid-template-columns: 1fr;

	z-index: 2;
	width: 80vw;
}

.grid1 { 
	grid-column: 1 / 2;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-rows: auto auto; */
	/* align-self: center; */
	justify-self: center;
	align-items: center;
	justify-items: center;
	/* height: auto; */
	align-self: center;
	grid-gap: 40px;
}

.grid2{
	grid-column: 1 / 2;
	grid-row: 1/2;
	display: grid;
	align-self: flex-end;
	overflow: hidden;
	align-items: flex-end;
	justify-items: center;
	align-self: baseline;
	/* padding: 20px; */
	height: 90vh;
}


.titulo-cont {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	grid-gap: 20px;

	-ms-display: grid;
	-ms-grid-template-columns: 1fr;
	-ms-grid-auto-rows: auto;
	-ms-grid-auto-flow: row;
	-ms-grid-gap: 2px;

	justify-items: center;
	align-items: center; 
	text-align: center;
}

.titulo-topo a {
	text-decoration: none;
	font-size: 1.2em;
	border: 2px solid #19323c;

	font-family: var(--fonte-sub);
	padding: 10px 20px 10px 20px;
	color: rgb(25, 50, 60, 0.8);
	border-radius: 5px;
	text-align: center;
	box-sizing: content-box;
}

.titulo-topo a:hover {
	color: #fcfcf8;
	background-color: #19323c;
}



.box-cont {
	display: grid;
	-ms-display: grid;

	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;

	align-items: center;
	justify-items: center;

	
	justify-self: center;

}


.box-tamanho {
	width: 80vw;
	padding-top: 180px;
}

.box-interno {
	display: grid;
	grid-gap: 50px;
	width: auto;
	height: auto;
}


.box-serv {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	grid-auto-flow: row;
	grid-gap: 30px;
	align-self: baseline;
}

.box-serv figure{
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	justify-items: center; 
	grid-gap: 15px;
}

.box-serv figure img {
	width: auto;
	height: 50px;
}

.box-serv figure figcaption {
	color: #19323c;
	font-family: var(--fonte-sub);
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

.sub-titulo {
	align-self: end;
	grid-gap: 10px;
	justify-items: center;
	text-align: center;

}
.sub-titulo h2{
	font-family: var(--fonte-sub);
	font-weight: bold;
	font-size: 2em;
	color: #19323c;
}

.sub-titulo p{
	font-family: var(--fonte-sub);
	font-size: 1em;
	color: rgb(25, 50, 60, 0.8);
}

.box-galeria {
	display: grid;	
}

#ModGaleria{
	grid-column: 1 /2;
    grid-row: 1/2;
    background-color: rgba(25, 50, 60, 0.5);
	border-radius: 10px;
	
	display: grid;
}

.moldal-ativo {
	visibility: visible;
	z-index: 1;
}

.moldal-inativo {
	visibility: hidden;
	z-index: -1;
}

.cont-mod {
	background: #fcfcf8;
	width: auto;
	height: auto;
    justify-self: center;
	align-self: center;
	display: grid;

	grid-row: 1/2;
	grid-column: 1/2;

}
.cont-mod figure{
	display: grid;
	grid-row: 1/2;
	grid-column: 1/2;
}

.cont-mod figure img {
	width: 65vw;
	height: auto;
	align-self: center;
	justify-self: center;
	border-radius: 10px;

	box-shadow: 0 0 20px 9px rgb(25, 50, 60);
}

.mod-botao{
	grid-row: 1/2;
	grid-column: 1/2;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	display: grid;

	z-index: 1;
}

.mod-botao button{
	width: 40px;
	height: 40px;
	background-color: rgba(252, 252, 248, 0);
	border-radius: 50%;
	border: none;
	position: relative;
	grid-row: 1/2;
	grid-column: 1/2;
	padding: 0px;
	display: grid;
}

.mod-botao button span {
	width: 30px;
	height: 3px;
	background-color: rgba(252, 252, 248, 0.7);
	margin: auto;
	border-radius: 3px;
	position: relative;
	visibility: hidden;
}

.mod-botao:hover button span {
	visibility: visible;
}

#ModExit {
align-self: baseline;
justify-self: right;


width: 40px;
height: 40px;
background-color: rgba(252, 252, 248, 0);
border-radius: 50%;
border: none;
position: relative;
grid-row: 1/2;
grid-column: 1/2;
padding: 0px;
display: grid;

}

#ModExit span {
	width: 30px;
	height: 3px;
	background-color: rgba(252, 252, 248, 0.7);
	margin: auto;
	border-radius: 3px;
	position: relative;
}

#ModExit span:nth-child(1){
	-webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
	transform:rotate(225deg);
	bottom: -1.5px;
}

#ModExit span:nth-child(2){
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(2135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -1.5px;
}


.mod-right {
	align-self: center;
justify-self: right;
right: -40px;
}

.mod-right span:nth-child(1){
	-webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
	transform:rotate(225deg);
	bottom: 5px;
}

.mod-right span:nth-child(2){
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(2135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 5px;
}

.mod-left {
	align-self: center;
justify-self: left;

left: -40px;
}

.mod-left span:nth-child(1){
	-webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
	transform:rotate(135deg);
	bottom: 5px;
}

.mod-left span:nth-child(2){
	-webkit-transform: rotate(135deg);
    -moz-transform: rotate(2135deg);
    -o-transform: rotate(135deg);
    transform: rotate(225deg);
    top: 5px;
}

.mod-botao .mod-left span, .mod-botao .mod-right span {
	width: 20px;
}

.cont-galeria {
	grid-column: 1 /2;
	grid-row: 1/2;

	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 25vw;

	-ms-display: inline-grid;
	-ms-grid-template-columns: repeat(2, 1fr);
	-ms-grid-auto-rows: auto;
	-ms-grid-auto-flow: row;

	grid-gap: 10px;

	/*-webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
	clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);*/

}

.cont-galeria figure {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	-ms-display: grid;
	-ms-grid-template-columns: 1fr;
	-ms-grid-template-rows: 1fr;

	overflow: hidden;
	border-radius: 10px;
}

.cont-galeria figure img{
	grid-column: 1/2;
	grid-row: 1/2;

	-ms-grid-column: 1/2;
	-ms-grid-row: 1/2;


	width: 100%;
	height: 100%;
}

.cont-galeria figure:after {
	grid-column: 1/2;
	grid-row: 1/2;

	-ms-grid-column: 1/2;
	-ms-grid-row: 1/2;

	content:'';
	position:relative;
	width: 100%;
	height: 100%;
	background-color: rgba(48, 188, 237, 0.3);

}

/*Efeito de fadeIn das imagens da galeria*/
.ocultar {
	animation-name: fadein;
	animation-duration: 2s;
	animation-fill-mode: backwards;

	-webkit-animation-name:fadein;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: backwards;
}

@keyframes fadein{
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadein{
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}
/*Fim Efeito de fadeIn das imagens da galeria*/





/*Formulario*/

.form-fala {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    -ms-display: grid;
    -ms-grid-template-columns: repeat(2, 1fr);
    -ms-grid-auto-rows: 1fr;
    -ms-grid-column-gap: 20px;
    -ms-grid-row-gap: 50px;
    height: auto;
    box-sizing: border-box;
    font-family: var(--fonte-sub);
    width: 90%;
    justify-self: center;
}

.form-fala *{
		grid-column: auto/ span 2;

	-ms-grid-column: auto/ span 2;
}

.descricao {
	border: 1px solid #19323c;
	border-radius: 5px;
}

/*.servico {
	grid-column: auto/ span 3;
}*/



.formselect {
	background-color: #fcfcf8;
	font-size: 1em;
	border:none;
	color: #19323c;
	font-family: var(--fonte-sub);
	border-bottom: 1px solid #19323c;
	align-items: flex-end;
	padding-bottom: 1px;

}

.btn-fala {
	align-items: center; 


}


.descricao textarea {
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 5px;
	font-size:1em;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	resize: none;
	background-color: #fcfcf8;
	color: #19323c;
}



.form-fala button {
	background-color: #fcfcf8;
	border: 2px solid #19323c;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	font-weight: bold;
	color: rgb(25, 50, 60, 0.8);

	width: 150px;

	grid-column: auto / span 1;
}

.form-fala button:hover {
	background-color: #19323c;
	color: #fcfcf8;
}

.form-fala p {
	font-size: 1em;
	color: #19323c;
	grid-column: auto / span 1;
	align-self: end;
    justify-self: right;
}

/* form starting stylings ------------------------------- */
.group        { 
	position:relative; 
}

.group input {
	border: none;
	height: auto;
	font-size:1em;
	padding: 5px 0px 5px 10px;
	display:block;
	width:100%;
	height: 100%;
	border:none;
	border-bottom:1px solid #19323c;
	box-sizing: border-box;
	background-color: #fcfcf8;
}
.group input:focus     { outline:none; }

/* LABEL ======================================= */
.group label          {
	color:#19323c; 
	font-size:1em;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	padding: 0px 0px 0px 10px;
	bottom:5px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~  label, .group input:valid ~  label    {
	top:-20px;
	font-size:0.8em;
	color:#30bced;
	padding: 0px 0px 0px 0px;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#30bced; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
	width:50%;
}

.group input:focus {
	border-bottom:1px solid #30bced;

}

/* HIGHLIGHTER ================================== */
.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#30bced; }
	to  { width:100%; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#30bced; }
	to  { width:100%; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#30bced; }
	to  { width:100%; background:transparent; }
}

/*Fim Formulario*/

#Rodape{
	background-color: #19323c;
	height: 70px;
	margin-top: 50px;
	display: grid;
}

.box-rodape{
	display: grid;
	grid-auto-columns: auto;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	
    width: 85vw;
    justify-self: center;
    align-items: center;
}

.box-rodape p{
	color: rgb(252, 252, 248, 0.5);
	font-size: 1em;
	font-family: var(--fonte-sub);
}

.box-des{
	display: none;
}

.box-contato {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-flow: column;


	align-self: baseline;

	overflow: visible;

	z-index: 2;
}

.box-contato figure{
	display: grid;
	align-items: center;
	justify-items: center;	
	grid-row: 1/2;
	padding: 15px;

	background-color: #19323c;

	z-index: 2;
}


.box-contato figure:nth-child(1){
	grid-column: 1 / 2;
	border-top-left-radius: 5px;
}

.box-contato figure:nth-child(2){
	grid-column: 2 / 3;
}

.box-contato figure:nth-child(3){
	grid-column: 3 / 4;
}

.box-contato figure:nth-child(4){
	grid-column: 4 / 5;

}

.box-contato figure:nth-child(5){
	grid-column: 5 / 6;
	border-top-right-radius: 5px;
}


.box-contato figure img {
	width: auto;
	height: 20px;	
}

.box-contato figure figcaption {
	color: #19323c;
	font-family: var(--fonte-sub);
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

.social-cont {
	grid-row: 1/2;
	grid-column: 1/ span 5;
	height: 100%; 
	
	top: 4px;
	position: relative;

	background-color: rgba(48, 188, 237, 1);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	
 
}

.social-cont li {
	list-style: none;
	grid-column: 1/2;
	grid-row: 1/2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px;

	color: #fcfcf8;
	font-family: var(--fonte-sub);
	font-size: 1.2em;

	display: grid;
	justify-items: center;
	align-items: center;
}

.social-cont li a{
	color: #fcfcf8;
	font-family: var(--fonte-sub);
	font-size: 1.2em;
}

.social-ativo {
top: 100%
}




#Menu-Social .ativa-mail{
	background-color: #dd4b39;
}
#Menu-Social .ativa-mail ~ .social-cont li:nth-child(1){
	background-color: #dd4b39;
	z-index: 1;
}

#Menu-Social .ativa-faece{
	background-color: #3b5998;
}
#Menu-Social .ativa-faece ~ .social-cont li:nth-child(2){
	background-color: #3b5998;
	z-index: 1;
}

#Menu-Social .ativa-insta{
	background-color: #8a3ab9;
}
#Menu-Social .ativa-insta ~ .social-cont li:nth-child(3){
	background-color: #8a3ab9;
	z-index: 1;
}

#Menu-Social .ativa-tel{
	background-color: #fbbc05;
}
#Menu-Social .ativa-tel ~ .social-cont li:nth-child(4){
	background-color: #fbbc05;
	z-index: 1;
}

#Menu-Social .ativa-wats{
	background-color: #25d366;
}
#Menu-Social .ativa-wats ~ .social-cont li:nth-child(5){
	background-color: #25d366;
	z-index: 1;
}





@media (min-width: 1000px) {

	.grid1 {
		width: 60vw;
	}

	.box-serv  {
		grid-template-columns: repeat(4, 1fr);
	}

	.cont-galeria {
		grid-template-columns: repeat(3, 1fr);
	}

	.cont-galeria {
		height: 30vw;
		width: 60vw;
		/* border-radius: 5px; */
		/* align-self: center; */
		justify-self: center;
		grid-auto-rows: auto;
	}

	.menu-pintura{
	grid-template-rows: 1fr;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	justify-self: right;
	background-color: #19323c;
	grid-gap: 20px;
	top: 0%;

	}

	.box-interno {
		width: 60vw;
	}


	.box-contato figure img {
		height: 25px;	
	}

	#Botao-Menu{
		visibility: hidden;
	}

	.menu-ativo {
		border-bottom: 3px solid #30bced;
		
	}

	.box-des {
		display: grid;
		justify-self: right;
		padding: 0px 10px;
	}
	
	.box-des p {
		font-family: var(--fonte-sub);
		align-self: center;
		justify-self: center;
	}
	
	.box-des p:nth-child(odd) {
		font-size: 0.8em;
	}
	
	.box-des p:nth-child(even) {
		font-size: 1.1em;
	}

	
.nome {
	grid-column: auto/ span 1;

	-ms-grid-column: auto/ span 1;
}

.email {
	grid-column: auto/ span 1;

	-ms-grid-column: auto/ span 1;
}

.tel {
	grid-column: auto/ span 1;

	-ms-grid-column: auto/ span 1;
}

.cel {
	grid-column: auto/ span 1;

	-ms-grid-column: auto/ span 1;
}

.cidade {
	grid-column: auto/ span 1;

	-ms-grid-column: auto/ span 1;
}

.uf {
	grid-column: auto/ span 1;

	-ms-grid-column: auto/ span 1;
}

.descricao {
	grid-column: auto/ span 2;
	grid-row: auto/ span 2;

	-ms-grid-column: auto/ span 2;
	-ms-grid-row: auto/ span 2;

	border: 1px solid #19323c;
	border-radius: 5px;
}

.btn-fala {
	grid-column: auto/ span 2;

	}

	.cont-mod figure img {
		width: 30vw;
		height: auto;
	}


}

@media (max-height: 300px)  {
	#Topo {
		grid-template-rows: 600px;
	}

	.grid2 {
		height: 450px;
	}

	
	
}












